nav ul {
    display: flex;
}
nav li {
    margin-right: 20px;
    list-style-type: none;
    padding: 0 10px;
}
nav li:hover {
    background-color: lightgray;

}

nav li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
nav > ul > li:hover > ul {
    display: block;
    position: absolute;
    background-color: cornflowerblue;
    padding: 0;
}
.dropdown li {
    padding: 5px 10px;
    margin: 0;
}
.dropdown {
    display: none;
    margin-left: -10px;
}