nav ul {
    display: flex;
}
nav li {
    margin-right: 20px;
    list-style-type: none;
    padding: 0 10px;
}
nav li:hover {
    background-color: lightgray;

}

nav li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}